In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('train.csv')

In [7]:
df.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [100]:
X = df[['x']]
y = df['y']

In [101]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2 , random_state = 42)
print("Shape of X_train:", X_train.shape)
print("Shape of y_train:", y_train.shape)

Shape of X_train: (560, 1)
Shape of y_train: (560,)

In [104]:
print("NaN values in X_train:", X_train.isnull().sum().sum())
print("NaN values in y_train:", y_train.isnull().sum().sum())

print("Infinite values in X_train:", np.isinf(X_train).sum())
print("Infinite values in y_train:", np.isinf(y_train).sum())

NaN values in X_train: 0
NaN values in y_train: 1
Infinite values in X_train: x    0
dtype: int64
Infinite values in y_train: 0

In [106]:
# Remove rows with NaN values in y_train
X_train = X_train[~y_train.isna()]
y_train = y_train.dropna()

# Checking the shapes after removal
print("Shape of X_train after NaN removal:", X_train.shape)
print("Shape of y_train after NaN removal:", y_train.shape)

Shape of X_train after NaN removal: (559, 1)
Shape of y_train after NaN removal: (559,)

In [107]:
# Create and train the model
lr = LinearRegression()
lr.fit(X_train, y_train)

print("Model Trained")

Model Trained

In [108]:
# y = mx + b
print("Value of m :")
lr.coef_

Value of m :

array([1.0007299])

In [109]:
# y = mx + b
print("Value of b :")
lr.intercept_

Value of b :

-0.12313987709135432

In [110]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [123]:
y_pred = lr.predict(X_test)

In [124]:
print("Mean Absoulte Error")
mean_absolute_error(y_test,y_pred)

Mean Absoulte Error

2.2637854093810867

In [127]:
print("Mean Square Error")
mean_squared_error(y_test,y_pred)

Mean Square Error

8.002750146042327

In [129]:
print("Root Mean Square Error")
np.sqrt(mean_squared_error(y_test,y_pred))

Root Mean Square Error

2.8289132447005736

In [132]:
print("R2 score")
r2 = r2_score(y_test,y_pred)
r2

R2 score

0.9915274167944004

In [135]:

X_test.shape

(140, 1)

In [136]:
print("Adjusted R2 score")
n = 140  #number total rows
k = 1  # number of total colums
1-(((1-r2)*(n-1))/(n-1-k))

Adjusted R2 score

0.991466021263925